<div id="registrationMessage"></div>
<%= form_with(model: @client, local: true, html: {class: 'registrationForm', id: 'registrationForm' }) do |form| %>
  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <button type="button" id="registrationCancelButton">Отмена</button>
  </div>
<% end %>