<!DOCTYPE html>
<html>
  <head>
    <title>Minibank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <! -- comment -->
    <!%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:info] %>
      <div class="alert alert-info">
        <%= flash[:info] %>
      </div>
    <% end %>
  </body>
</html>
